synapse/node_modules/
synapse/.env

# Backend Logs
synapse/logs
synapse/*.log
synapse/src/seed
synapse/src/uploads
synapse/src/routes/GenerateQR.js
synapse/src/routes/compress_pdf.cjs
synapse/npm-debug.log*

# ===================
# ⚙️ GLOBAL IGNORE
# ===================
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
*.log
