node_modules/
.env

# Backend Logs
logs
*.log
src/seed
src/uploads
src/routes/GenerateQR.js
src/routes/compress_pdf.cjs
npm-debug.log*

# ===================
# ⚙️ GLOBAL IGNORE
# ===================
.DS_Store
Thumbs.db
.vscode/
.idea/
.env
*.log
